[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/v1guttal
[access "refs/for/refs/*"]
	read = group user/v1guttal
	push = group user/v1guttal
	label-Code-Review = -2..+2 group user/v1guttal
	label-Verified = -1..+1 group user/v1guttal
	rebase = group user/v1guttal
	removeReviewer = group user/v1guttal
	submit = group user/v1guttal
[access "refs/heads/*"]
	read = group user/v1guttal
	create = group user/v1guttal
	push = +force group user/v1guttal
	pushMerge = group user/v1guttal
[access "refs/tags/*"]
	push = +force group user/v1guttal
	pushTag = group user/v1guttal
	pushSignedTag = group user/v1guttal
